<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <%= render 'follow_form' if logged_in? %>
    </section>
  </aside>
   <div class="col-md-8">
    
    <h3>Micropost Search</h3>
    <%= form_tag user_path(@user), :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>
    
    <% if @user.microposts.any? %>
      <% micropost_count = @microposts.count %>
      <h3 id="micropost-count">Microposts (<%= micropost_count %>)</h3>
      <%= link_to "Export CSV", user_path(@user,format: :csv, search: params[:search]),
      class: "btn btn-primary btn-csv",
      data: { confirm: "You are about to export #{@user.name}'s #{micropost_count} microposts.\nAre you sure you want to continue?" } %>
      
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>